<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            {{!-- add href to make sure links work --}}
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/food">Food Recipes</a>
            <a class="nav-link" href="/drinks">Drink Recipes</a>
        </div>
    </div>
</nav>

<header>
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Welcome to Herbal Earth Remedies!</h1>
        <h2 class="mb-3"> Drink Recipes</h2>
    </div>
</header>
{{!-- hard coded cards from seed file to show up already on homepage --}}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="https://i.imgur.com/6FLLrhr.jpeg" class="card-img-top" alt="Turmeric Tea" height="300"
                width="300" />
            <h5 class="card-title">Turmeric Tea</h5>
            <p class="card-text">Soothe a sore throat</p>
            <a href="https://www.vegrecipesofindia.com/turmeric-tea/" class="recipebtn btn-primary">View Recipe</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img src="https://i.imgur.com/4ikpRkD.jpeg" class="card-img-top" alt="Ginger Tea" height="300"
                width="300" />
            <h5 class="card-title">Ginger Tea</h5>
            <p class="card-text">Stomach relief.</p>
            <a href="https://cookieandkate.com/fresh-ginger-tea-recipe/" class="recipebtn btn-primary">View Recipe</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img src="https://i.imgur.com/3afOwsz.jpeg" class="card-img-top" alt="Chamomile Tea" height="300"
                width="300" />
            <h5 class="card-title">Chamomile Tea</h5>
            <p class="card-text">Help fall asleep</p>
            <a href="https://thisweekfordinner.com/aaron-and-lindsay%E2%80%99s-chicken-tortilla-soup-extravaganza/"
                class="recipebtn btn-primary">View Recipe</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img src="https://i.imgur.com/Wjp2Wrv.jpeg" class="card-img-top" alt="Green Tea" height="300" width="300" />
            <h5 class="card-title">Green Tea</h5>
            <p class="card-text">Energize</p>
            <a href="https://www.vegrecipesofindia.com/green-tea-green-tea-with-tulsi/"
                class="recipebtn btn-primary">View Recipe</a>
        </div>
    </div>
</div>