h1{
    color:rgb(63, 107, 65);
    font-family: 'PT Sans Narrow', sans-serif;
}

header {
    background-color: rgb(123, 172, 50);
}


.card {
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(133, 185, 153);
    border-width: 5px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.card-img-top {
    border-top-left-radius: 50px; 
    border-top-right-radius: 50px; 
}

.recipebtn{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: Black;
    background-color :rgb(202, 226, 204)
}
